[Unit]
Description=auto-rotate screen
After=graphical-session-pre.target
Wants=graphical-session-pre.target
BindsTo=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/bin/false
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=default.target

